{% extends 'base.html'%}

{% block content %}

<div class="container" >
    <div class="row" >
    <!-- displaying  Username-->
        <div class="col-md-9">
            <!--Display profile photo-->
            {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" alt="" class="img-thumbnail">
            {% endif %}
            <h3> {{user.username}} </h3>
            <!--Displaying user bio-->
            {% if profile.bio %}
              <p> {{profile.bio}}</p>
            {% else%}
              <p> {{users.username}} has no bio </p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if user.username == user.username %}
            <a href="{% url 'edit_profile' %}"><button class="btn btn-outline-dark" type="submit">Edit profile</button></a>
            <a href="{% url 'new_projects' %}"><button class="btn btn-outline-dark" type="submit">New Project</button></a>
            {% endif %}
        </div>
    </div>
 <div class="container">
        <div class="row">
        <div class="col-md-6"></div>
            {% for projects in projects %}

            <div class="card text-center">
                <div class="card-header">
                    <h3> {{ projects.title }} </h3>
                </div>
                <div class="card-body">
                    <img class="img" src="{{projects.image.url}}" alt="Project Pic"style="width:500px;height:700px;">
                    <h4>{{projects.description}}</h4>
                    <hr>
                    <p>Posted <strong>{{projects.pub_date|timesince}}</strong> ago</p>
                    <p>by <strong>{{user.username}}</strong></p>
                    <a href={{projects.id.ratereview}}><button class="btn btn-outline-dark" type="submit">RATE</button></a>
                    <a href={{projects.link}}><button class="btn btn-outline-dark" type="submit">VISIT SITE</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}