{% extends 'base.html'  %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <section class="rates">
            <div class="box-piesite">
                <ul>
                    <li class="design">
                        <div class="piesite" id="pie_0" data-pie="7.25"></div>
                            <br>
                            <p>DESIGN</p>
                        </div>
                    </li>
                    <li class="usability">
                        <div class="piesite" id="pie_2" data-pie="9.52"></div>
                            <br>
                            <p>USABILITY</p>
                        </div>
                    </li>

                    <li class="content">
                        <div class="piesite" id="pie_1" data-pie="3.06"></div>
                            <br>
                            <p>CONTENT</p>
                        </div>
                    </li>
                </ul>
            </div>

    </section>
</div>
<div class="container">
    <div class="row">
        {% for projects in projects %}
        <div class="card text-center">
            <div class="card-header">
                <h3> {{ projects.title }} </h3>
            </div>
            <div class="card-body">
                <img id="img" src="{{projects.image.url}}" alt="Project Pic"style="width:400px;height:500px;">
                <p>Posted <strong>{{projects.pub_date|timesince}}</strong> ago</p>
                <p>by <strong>{{projects.profile.user}}</strong></p>
                <a><i class="glyphicon glyphicon-pencil" style="width:50px;font-size:20px;">RATE</i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}